<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="tests.TC006_ContactUs"/>-->
      <class name="tests.TC000_HomePage"/>
     <!-- <class name="tests.TC002_LoginUser"/>
      <class name="tests.TC004_LogOutUser"/>
      <class name="tests.TC001_RegisterUser"/>
      <class name="tests.TC009_SearchProduct"/>
      <class name="tests.TC008_Products"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



